.home_hero {
  padding: 0 16px;

  h1 {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }

  p {
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    margin-top: 0.7em;
  }
}
