.detail {
  background-color: #4365a7;
  padding: 30px 16px;

  @media screen and (min-width: 600px) {
    max-width: 1100px;
    margin: 0 auto;
  }

  &_header {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    column-gap: 12px;
    color: black;

    @media screen and (min-width: 600px) {
      width: 450px;
      margin: 0 auto;
    }

    img {
      width: 80px;
      height: 80px;
    }

    div {
      p:first-child {
        text-transform: uppercase;
        color: #626060;
      }

      p:last-child {
        font-size: 0.8em;
        margin-top: 0.5em;
      }
    }

    svg {
      margin-left: auto;
      align-self: center;
    }
  }

  &_stats {
    font-weight: 700;
    font-size: 0.8em;
    margin: 0.5em 0 1em 0;

    span {
      color: #626060;
      font-weight: 400;
      font-size: 0.3em;
      margin-bottom: 1em;
    }
  }

  &_price {
    span {
      color: #26ca61;

      svg {
        margin-right: 0.3em;
        position: relative;
        top: 0.2em;
        width: 1em;
        height: 1em;
        fill: #26ca61;
      }
    }

    .isDown {
      color: red;

      svg {
        fill: red;
      }
    }
  }

  &_container {
    margin-top: 20px;
    background-color: #fff;
    color: black;
    font-size: 0.6em;
    padding: 16px;

    @media screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.48);

      p:first-child {
        color: rgb(128, 128, 128);
      }

      p:last-child {
        font-weight: 700;
      }
    }

    :last-child {
      border-bottom: none;
    }
  }
}
